.input {
  border: 1px solid;
  width: 150px;
  height: 30px;
  text-align: center;
  background-color: lightgrey;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 3px 3px 3px black;
}
.botao {
  border: 1px solid;
  width: auto;
  height: 30px;
  text-align: center;
  background-color: lightslategrey;
  font-weight: 600;
}
.result {
  font-weight: 300;
}
